@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);

body {
    font-family: 'Roboto', sans-serif;
    background-color:#efefef;
    margin:0px;
}   
#menubar {
    background-color: #3F1A0A;
    color: #FFCC00;
    height: 40px;
    margin-bottom: 16px;
}   
#menubar ul {
    list-style-type: none;
    padding: 0px;
    padding-top: 10px;
    padding-left: 16px;   
    display: flex;
    margin: 0;
}
#menubar ul li {
    margin: 0;
    padding: 0;   
}
#icon img {
    width: 40px;
    margin-top: -8px;
    margin-right: 8px;   
}
#copyright {
    margin-top: -35px;
    margin-right: 16px;
    display: block;
    text-align: right;
}
#title {
    padding-left: 12px;
    padding-top: 12px;
    font-weight: 100;
}
#date, #sensorlevel, #priority {
    padding-left: 24px;   
    margin: 0px;
}
#date, #sensorlevel {
    font-family: 'Roboto Condensed', sans-serif;
}
#goPrevious {
    margin-left:12px;   
}
#goPrevious, #goNext {
    border-radius: 20px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 4px;
    padding-top: 4px;
    background-color: transparent;
    border: solid black 1px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 9pt;
    transition: 0.5s all;
    margin-top: 32px;
}
#goPrevious:hover, #goNext:hover {
    background-color:#FFCC00;
    color:#3F1A0A;
}
#latitude, #latlongdelimiter, #longitude {
    font-size:8pt;   
    vertical-align: top;
}
#latlongdelimiter {
    margin-right:8px;   
}
#coordinates {
    margin-left: 16px;
    margin-top: 32px;
}
#goNext {
    margin-left:12px;   
}
#gmaps {
    width: 600px;
    height: 400px;   
    text-align: center;
    display:block;
    margin-left: -8px;
    margin-top: -5px;
}
@media (max-width: 800px) {
    #gmaps {
        width:100%;
    }
}
@media (min-width:800px) and (max-width:1600px) {
    #gmaps {
        width:800px;   
    }
}
@media (min-width:1600px) {
    #gmaps {
        width:1600px;   
    }
    #kinect_color {
        text-align: right;
        float: right;
        margin-top: -16px;
        min-width: 340px;
        margin-bottom: 16px;   
    }
}
#speed {
    font-size:24pt;   
    margin-left:24px;
/*    margin-left: 96pt;*/
}
#speedUnit {
    font-size:14pt;    
}
#curve {
    width:400px !important;
    height:400px !important;
    display: block;
}
#kinect_color {
    display: block;
    margin-left: 42px;
    margin-top: 8px;
    margin-bottom: 8px;   
}
#notes {
    margin-left: 42px;   
}
div#notes:before {
    content: "Notes: ";
}