﻿body {
	background-color:#dedede;
	color:#333;
}
button {
    border-radius: 20px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 4px;
    padding-top: 4px;
    background-color: transparent;
    border: solid black 1px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 9pt;
    transition: 0.5s all;
    margin-top: 32px;
}
button:hover {
    background-color:#FFCC00;
    color:#3F1A0A;
}
#menubar {
	background-color: #3F1A0A;
    color: #FFCC00;
    height: 40px;
    margin-bottom: 16px;
}
#menubar ul {
    list-style-type: none;
    padding: 0px;
    padding-top: 10px;
    padding-left: 16px;   
    display: flex;
    margin: 0;
}
#menubar ul li {
    margin: 0;
    padding: 0;   
}
#actions {
	vertical-align:bottom;
	margin-left:auto;
	margin-right:auto;
	padding-left:12px;
}
#intro {
	margin-left:16px;
}
#chatbox {
	padding-left:16px;
}
#conversationList {
	font-size:8pt;
	font-family:monospace;
	overflow:auto;
	height:400px;
}
.error {
	color:#f00;
}
#serviceList {
	font-size:10pt;
	width:400px;
}